<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">

  Lista de cursos aqui
</div>

<div *ngIf="cursos.length == 0" > 
  Não existe cursos a serem listados
</div>

<!-- <div *ngIf="cursos.length > 0" >
 <!--  {{ cursos }}
</div> -->

<div *ngIf="mostrarCursos" >

  {{cursos}}
</div>

<div *ngIf="!mostrarCursos" >

  não há cursos
</div>

<button (click)="onMostrarCursos()"> Esconder ou mostrar cursos</button>

<h5> Hidden como alternativa </h5>

<div [hidden]="!mostrarCursos" >

  {{cursos}}
</div>

<div *ngIf="!mostrarCursos" >

  não há cursos
</div>

