<br><br><br>
<h5>*ngSwitch, *ngSwitchCase, *ngSwitchDefault </h5> 


<br>
<nav class="nav">
  <div class="nav-bar">
   	<a  href="#" class="nav-item" (click)="aba = 'home'"> Home</a>
		<a  href="#" class="nav-item" (click)="aba = 'mapa'"> Mapa</a>
		<a  href="#" class="nav-item" (click)="aba = 'lista'"> Lista</a>
		
	</div>
</nav>

<div class="container" [ngSwitch]="aba">
	<p *ngSwitchCase="'mapa'" > modo mapa ativado </p>
	<p *ngSwitchCase="'lista'" > modo lista ativado </p>
	<p *ngSwitchDefault>Home </p>
</div>